@model MitSuLån.Models.ViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Timeline.css" />
    <link rel="stylesheet" href="~/css/select.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <title>View</title>
</head>
<body>
    <div class="beregner-container">

        <h1 class="beregner-title">SU Låne Beregner</h1>

        <p class="description">
            Gør du dig tanker omkring et SU lån? <br>
            Denne låne beregner giver dig et estimat over et SU lån der er tilpasset lige til dig.
        </p>

        <div class="row1">

            <div class="input-group0">
                <form action="Beregner" method="post">
                    <div class="field1">
                        <label class="input-label" asp-for="SUData.MånedligSU"></label>
                        <div class="form-group">
                            <label class="static-text-dkk">DKK</label>
                            <input class="input-field" asp-for="SUData.MånedligSU" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="input-label" asp-for="SUData.AntalMåneder"></label>
                        <input class="input-field" asp-for="SUData.AntalMåneder" />
                    </div>
                    <div class="form-group" style="margin-bottom: 35px;">
                        <label class="input-label" asp-for="SUData.MånederFørAfbetaling"></label>
                        <input class="input-field" asp-for="SUData.MånederFørAfbetaling" />
                    </div>
                    <div class="form-group">
                        <select class="select-payment" onchange="selectMath(this.value)">
                            <option value="0">Beløb</option>
                            <option value="1" selected="selected">Måneder</option>
                        </select>
                    </div>
                    <div class="form-group" style="display:flex;">
                        <div class="left-option">
                            <label class="input-label">MånedersAfbetaling</label>
                            <input class="input-field" id="month" asp-for="SUData.AntalTilbageBetalingsMåneder" />
                        </div>
                        <div class="right-option">
                            <label class="input-label">Månedlig Beløb</label>
                            <input class="input-field" id="money" value=" " asp-for="SUData.MåndeligAfbetaling" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="BEREGN" class="submit-btn" />
                    </div>

                </form>
            </div>

            <div class="input-group1">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
                <div>
                </div>
            </div>
        </div>

        <button type="button" class="collapsible"> <i class="fa fa-arrow-down" style="float:right;"></i>Se dit låns levetid</button>

        <div class="timeline-thingy">

            <div class="timeline">
                <div class="timeline-container left">
                    <div class="content">
                        <h4>Lån Under Studie</h4>
                        <p>Effektiv Kredit: @Model.Studie.EffektivKredit</p>
                        <p>Samlet Lån: @Model.Studie.SamletLån</p>
                        <p>Gebyr på Periode: @Model.Studie.Gebyr</p>
                    </div>
                </div>
                <div class="timeline-container right">
                    <div class="content">
                        <h4>Lån mellem Studie og Tilbagebetaling</h4>
                        <p>Samlet Lån: @Model.Mellem.SamletLån</p>
                        <p>Gebyr på Periode: @Model.Mellem.Gebyr</p>
                    </div>
                </div>
                <div class="timeline-container left">
                    <div class="content">
                        <h4>Lån under Tilbagebetaling</h4>
                        <p>Måneders Afbetaling: @Model.SUData.AntalTilbageBetalingsMåneder</p>
                        <p>Samlet Lån: @Model.SamletLån</p>
                        <p>Gebyr på Lån: @Model.Tilbagebetaling.Gebyr</p>
                        <p>Gebyr på Periode: @Model.GebyrAfbetaling</p>

                        @if (Model.SUData.ClientSideChecker == true)
                        {
                            <p>Sidste måneds betaling: @Model.Tilbagebetaling.SamletLån</p>
                        }
                        else
                        {
                            <p>Sidste måneds betaling: @Model.SUData.GennemsnitligAfbetaling</p>
                        }

                    </div>
                </div>
            </div>
        </div>

        <script>
        //Pie chart controller
        var modelData = [@Model.Studie.EffektivKredit, @Model.Tilbagebetaling.Gebyr];

        new Chart(document.getElementById("myChart"), {
            type: 'pie',
            data: {
                labels: ["Effektiv Kredit", "Renter"],
                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2"],
                    data: [modelData[0], modelData[1]]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Renter under tilbagebetaling inkluderet.'
                },
                legend: {
                    position: 'right'
                }
            }
        });

            function selectMath(val) {
                if (val === "0") {
                    document.getElementById("month").disabled = true;
                    document.getElementById("month").value = " ";
                    document.getElementById("money").disabled = false;
                    document.getElementById("money").value = @Model.SUData.MåndeligAfbetaling;
                }
                else if (val === "1") {
                    document.getElementById("money").disabled = true;
                    document.getElementById("money").value = " ";
                    document.getElementById("month").disabled = false;
                    document.getElementById("month").value = @Model.SUData.MånederFørAfbetaling;
                }
            }
        </script>
        <script src="~/js/collapsable.js"></script>
    </div>

</body>
</html>
