@model MitSuLån.Models.ViewModel

@{
    ViewData["Title"] = "Beregner";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Timeline.css" />
    <link rel="stylesheet" href="~/css/select.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>View</title>
</head>
<body>
    <div class="beregner-container">

        <h1 class="beregner-title">SU Låneberegner</h1>

        <p class="description">
            Overvejer du at tage et studielån?<br>
            Denne låne beregner giver dig et estimat over renteudgifterne på dit studielån.
        </p>

        <div class="row1">

            <!--Alle værdier sat til null fra post requestet. Sæt evt. inputs til givne værdier.-->

            <div class="input-group0">
                <form action="Beregner" method="post">
                    <div class="field1">
                        <div style="display:flex;">
                            <label class="input-label" asp-for="SUData.MånedligSU">Månedlige lånebeløb</label>
                            <div class="tooltip">
                                <i class="fa fa-info-circle"></i>
                                <span class="tooltiptext">Op til 3.234 kr. pr. måned, hvis du ikke søger om forhøjet lån.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="static-text-dkk">DKK</label>
                            <input min="1" max="9999" class="input-field" value=" " asp-for="SUData.MånedligSU" />

                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display:flex;">
                            <label class="input-label" asp-for="SUData.AntalMåneder">Låneperiode (antal måneder)</label>
                            <div class="tooltip">
                                <i class="fa fa-info-circle"></i>
                                <span class="tooltiptext">
                                    Du kan tage SU-lån, så længe du modtager SU.
                                    Renten under din uddannelse er diskontoen + 4%.
                                </span>
                            </div>
                        </div>
                        <input class="input-field" min="1" max="999" value=" " asp-for="SUData.AntalMåneder" />
                    </div>
                    <div class="form-group" style="margin-bottom: 35px;">
                        <div style="display:flex;">
                            <label class="input-label" asp-for="SUData.MånederFørAfbetaling">Måneder før afbetaling</label>
                            <div class="tooltip">
                                <i class="fa fa-info-circle"></i>
                                <span class="tooltiptext">
                                    Afdragsfrie måneder inden du påbegynder tilbagebetalingen. Se INFO for mere information.
                                    Renten i denne periode er diskontoen + 1%.
                                </span>
                            </div>
                        </div>
                        <input class="input-field" min="1" max="24" value=" " asp-for="SUData.MånederFørAfbetaling" />
                    </div>
                    <div class="form-group">
                        <div style="display:flex;">
                            <select class="select-payment" onchange="selectMath(this.value)">
                                <option value="0">Beløb</option>
                                <option value="1" selected="selected">Måneder</option>
                            </select>
                            <div class="tooltip">
                                <i class="fa fa-info-circle"></i>
                                <span class="tooltiptext">
                                    Vælg enten antal måneder, du vil afbetale over (maks. 180 måneder),
                                    eller beløbet du vil tilbagebetale pr. måned.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display:flex;">
                        <div class="left-option">
                            <label class="input-label">Måneders afbetaling</label>
                            <input class="input-field" id="month" min="1" max="180" value=" " asp-for="SUData.AntalTilbageBetalingsMåneder" />
                        </div>
                        <div class="right-option">
                            <label class="input-label">Månedlig ydelse</label>
                            <input class="input-field" id="money" value=" " min="1" asp-for="SUData.MåndeligAfbetaling" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="BEREGN" class="submit-btn" />
                    </div>

                </form>
            </div>

            <div class="input-group1">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
                <div>
                </div>
            </div>
        </div>

        <button type="button" class="collapsible"> <i class="fa fa-arrow-down" style="float:right;"></i>Detaljeret oversigt</button>

        <div class="timeline-thingy">

            <div class="timeline">
                <div class="timeline-container left">
                    <div class="content">
                        <h4 style="margin-bottom: 20px;font-weight: 600;">Lån under studie</h4>
                        <div class="data-seperator">
                            <label>Hovedstol:</label>
                            <label class="loan-data">@Model.Studie.EffektivKredit.ToString("N0") kr.</label>
                        </div>
                        <div class="data-seperator">
                            <label>Renteudgifter under studiet: </label>
                            <label class="loan-data">@Math.Round(Model.Studie.Gebyr, MidpointRounding.AwayFromZero).ToString("N0") kr.</label>
                        </div>
                        <div class="data-seperator">
                            <label>Samlet gæld: </label>
                            <label class="loan-data">@Math.Round(Model.Studie.SamletLån, MidpointRounding.AwayFromZero).ToString("N0") kr.</label>
                        </div>

                    </div>
                </div>
                <div class="timeline-container right">
                    <div class="content">
                        <h4 style="margin-bottom: 20px;font-weight: 600;">Lån mellem studie og tilbagebetaling</h4>
                        <div class="data-seperator">
                            <label>Renteudgifter under den afdragsfrie periode: </label>
                            <label class="loan-data">@Math.Round(Model.Mellem.Gebyr, MidpointRounding.AwayFromZero).ToString("N0") kr.</label>
                        </div>
                        <div class="data-seperator">
                            <label>Samlet gæld: </label>
                            <label class="loan-data">@Math.Round(Model.Mellem.SamletLån, MidpointRounding.AwayFromZero).ToString("N0") kr.</label>
                        </div>
                    </div>
                </div>
                <div class="timeline-container left">
                    <div class="content">
                        <h4 style="margin-bottom: 20px; font-weight: 600;">Lån under tilbagebetaling</h4>
                        <label>Renteudgifter under tilbagebetaling:</label>
                        <label class="loan-data">@Math.Round(Model.GebyrAfbetaling, MidpointRounding.AwayFromZero).ToString("N0") kr.</label>
                        <label>Måneders afbetaling: </label>
                        <label class="loan-data">@Model.SUData.AntalTilbageBetalingsMåneder</label>

                        @if (Model.SUData.ClientSideChecker == true)
                        {
                            <p>Sidste måneds betaling: </p>
                            <p class="loan-data">@Math.Round(Model.Tilbagebetaling.SamletLån, MidpointRounding.AwayFromZero).ToString("N0") kr.</p>

                        }
                        else if (Model.SUData.ClientSideChecker == false)
                        {
                            <p>Gennemsnitlige afbetaling: </p>
                            <p class="loan-data">@Math.Round(Model.SUData.GennemsnitligAfbetaling, MidpointRounding.AwayFromZero).ToString("N0") kr.</p>
                        }

                    </div>
                </div>
                <div class="timeline-container" style="">
                </div>
            </div>
            <div class="end-container">
                <h5 style="color:#3b3b3b;">Samlet gæld</h5>
                <p class="end-data0">@Math.Round(Model.SamletLån, MidpointRounding.AwayFromZero).ToString("N0") kr.</p>
                <hr style="height:2px;border-width:0;color:black;background-color:#3b3b3b;">
                <h5 style="color:#3b3b3b;">Pris på lån</h5>
                <p class="end-data1">@Math.Round(Model.Tilbagebetaling.Gebyr, MidpointRounding.AwayFromZero).ToString("N0") kr.</p>
            </div>



        </div>


        <script>
        //Pie chart controller
        var modelData = [@Model.Studie.EffektivKredit, @Math.Round(Model.Studie.Gebyr, MidpointRounding.AwayFromZero), @Math.Round(Model.Tilbagebetaling.Piechartdata, MidpointRounding.AwayFromZero)];

        new Chart(document.getElementById("myChart"), {
            type: 'pie',
            data: {
                labels: ["Hovedstol", "Renter under studie", "Renter efter studie"],
                datasets: [{
                    backgroundColor: ["#3e95cd", "#ffd333", "#b3101e"],
                    data: [modelData[0], modelData[1], modelData[2]]
                }]
            },
            options: {
                title: {
                    display: true,
                },
                legend: {
                    position: 'right'
                }
            }
        });

            function selectMath(val) {
                if (val === "0") {
                    document.getElementById("month").disabled = true;
                    document.getElementById("month").value = " ";
                    document.getElementById("money").disabled = false;
                    document.getElementById("money").value = @Model.SUData.MåndeligAfbetaling;
                }
                else if (val === "1") {
                    document.getElementById("money").disabled = true;
                    document.getElementById("money").value = " ";
                    document.getElementById("month").disabled = false;
                    document.getElementById("month").value = @Model.SUData.MånederFørAfbetaling;
                }
            }
        </script>
        <script src="~/js/collapsable.js"></script>
    </div>

</body>
</html>